body {font: 14px Arial; line-height: 19.6px; padding: 0 15px;}

a, a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a, a:hover, a:visited, a:active {color: #0366d6;}

#eukaryotes-example #container {
  float: left;
  height: 650px;
  width: 70%;
}

#eukaryotes-example #organism-list {
  float: left;
  padding-inline-start: 20px;
}

#eukaryotes-example li ul {
  padding: 2px 10px 10px 10px;
}

#eukaryotes-example li ul li {
  list-style-type: none;
}